# local developing files
.idea/
.coverage
/deprecated
/georeference_tests/data_output
!/georeference_tests/data_output/.placeholder
/georeference_tests/data_input
!/georeference_tests/data_input/.placeholder
/tmp
!/tmp/.placeholder

# custom installations files
/python_env

# build files
/georeference.egg-info
/dist
*.pyc

# configuration files
