# local developing files
.venv
__pycache__
.pytest_cache
.idea
.vscode/

.env.production

.idea/
.coverage
/deprecated
/georeference/__test_data/data_output
/georeference/__test_data/data_input
/tmp
TODO.md

# testmon files
.testmondata
.testmondata-shm
.testmondata-wal

# build files
/georeference.egg-info
/dist
*.pyc

georeference/__test_data

# configuration files
scripts/create_tar.sh
scripts/uploaded.log
scripts/uploads
scripts/*.json
scripts/*.tif
scripts/*.tar.gz
scripts/kartenforum_georeference

# do not track sql dumps and log files
*.dump
*.log